
body {
    padding-top: 60px;
}

.image-profile {
    width: 40vh;
    height: 40vh;
}

/* change the background color */
.navbar-custom {
    background-color: #2c3e50;
}
hr.star-light,
hr.star-dark {
  max-width: 30rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev,.carousel-control-next {
    cursor:pointer;
  }

  .carousel-inner > .carousel-item > img {
    height:300px;
    width: auto;
  }
  .carousel-inner > .carousel-item > img {
    height:300px;
    width: auto;
  }

  .important {
    font-weight: bold;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
  }

.send-button {
  background-color: #2c3e50;
}